body{
    margin:0 auto;
  
}

.card-title, h1{
    color: #0E7EEE ;
}
.navbar-brand img {width: 150px;
    color: rgb(231, 230, 228);}
    
    .jumbotron {
        background-color: white !important;
    }

    .row no-gutters{
        border-color:#0E7EEE;
    }
    
    .logo{
    
        width: 50px; 
        height: 50px;
        
    }