body{
    margin:0 auto;
  
}

.card-title, h1{
    color: #0E7EEE ;
}
.navbar-brand img {width: 150px;
    color: rgb(231, 230, 228);}
    
    .jumbotron {
        background-color: #0E7EEE !important;
    }

    .row  {
        border-top :2px solid #0E7EEE;
        border-bottom :2px solid #0E7EEE;
        padding-top: 25px;
    }
    
    .logo{
    
        width: 15px; 
        height: 15px ;
        
        
    }

    img{
        padding-top: 25px;
        border:2px solid #0E7EEE;
        width: 50%;
        height: 50%;
    }