.dropdown {
  position: relative;

  &__header {
    cursor: pointer;

    .input {
      flex-direction: row-reverse;
      background:none;
      background: $color-light-grey;


      &__content{
        display:flex;
        align-items: flex-end;
        background:none;
        position: relative;

        .text {
          background: $color-light-grey;
          }
        &::before {
          content: "";
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 10;
      }

      }
    }
  }

  &__content {
    position: absolute;
    background: $color-white;
    width: $content-width - 10vw;
    border-top: 0;
    left: 0;
    box-shadow: $box-shadow;


    ul {
      @extend .label-styles;

      text-align: left;
      list-style: none;
      padding-left: 0;

      li {
        border-bottom: 0.5px solid $color-light-grey;
        height: 25px;
        cursor: pointer;
        padding-left: 15px;
      }
    }
  }
}
