.tile-cta {
  height: 100px;
  width: 100px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: $color-white;
  box-shadow: $box-shadow;

  cursor: pointer;

  &__image {
    width: 50%;
    margin-bottom: 5px;

    margin-bottom: 30%;
  }

  &__label {
    @extend .label-styles;

    height: 30%;
    width: 100%;

    position: absolute;
    bottom: 0;
  }
}

.tiles {
  display: flex;
  justify-content: space-around;
}
