@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap');

$CTA-primary-color: '#5AC5EB';

$color-white: '#ffffff';
$color-black: '#000000';

$font-head: 'Raleway', sans-serif;
$font-body: 'Raleway', sans-serif;

$page-height: 100vh;
$page-width: 100vw;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
